<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Hellooooo</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Order Completed!</h1>-->
<!--    <img th:src="@{/images/thanks.PNG}"/>-->
<!--    <ul>-->
<!--        <li> <b>Full Name: </b> <span th:text="${user.fullname}">Full name</span></li>-->
<!--        <li> <b>Delivery Street: </b> <span th:text="${user.street}">Street</span></li>-->
<!--        <li> <b>Delivery City: </b> <span th:text="${user.city}">City</span></li>-->
<!--        <li> <b>Credit card number: </b> <span th:text="${user.ccNumber}">ccNumber</span></li>-->
<!--        <li> <b>Expiration: </b> <span th:text="${user.ccExpiration}">ccExpiration</span></li>-->
<!--        <li> <b>ccCVV: </b> <span th:text="${user.ccCVV}">ccCVV</span></li>-->
<!--    </ul>-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--    <h3>Your items:</h3>-->
<!--    <div th:each="p : ${cart.items}">-->
<!--        <ul>-->
<!--            <li><span th:text="${p.name}">ITEM</span>-->
<!--                $<span th:text="${p.price + ' * '}">ITEM</span>-->
<!--                <span th:text="${p.quantity}">ITEM</span>-->
<!--                <span th:text="${'  =  $' + (p.price * p.quantity)}">ITEM</span>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <h3><span th:text="${'Total Order :  $' + total}"></span></h3>-->

<!--    <a th:href="@{/design}" id="another">Create another cart</a><br/>-->
<!--    <br/>-->
<!--    <form method="POST" th:action="@{/logout}" id="logoutForm">-->
<!--        <input type="submit" value="Logout"/>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->