<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->

<!--    <head>-->
<!--        <title>Cart Shopping</title>-->
<!--        <link rel="stylesheet" th:href="@{/styles.css}"/>-->
<!--    </head>-->

<!--    <body>-->
<!--        <h1>Choose your products!</h1>-->
<!--        <h2>Welcome, <span th:text="${user.fullname}">NAME</span>!</h2>-->
<!--        <img th:src="@{/images/CartShopping.PNG}"/>-->

<!--        <form id="logoutForm" method="POST" th:action="@{/logout}">-->
<!--            <input type="submit" value="Logout"/>-->
<!--        </form>-->

<!--&lt;!&ndash;        FORM POST CART ON DESIGN&ndash;&gt;-->
<!--        <form id="cartForm" th:action="@{/design}" th:method="POST" th:object="${cart}">-->

<!--            <span class="validationError"-->
<!--                  th:errors="*{items}"-->
<!--                  th:if="${#fields.hasErrors('items')}">Item Error</span>-->

<!--            <div class="grid">-->


<!--                <div class="item-group" id="tech">-->
<!--                    <h3>Choose your tech item:</h3>-->
<!--                    <div th:each="item, prStat : ${technology}">-->
<!--                        <input th:field="*{items}" type="checkbox" th:value="${item.id}"/>-->
<!--                        <input type="number" th:name="${'QUANTITY-' + item.id}" th:value="${item.quantity}" min="0">-->
<!--                        <span th:text="${item.name}">ITEM</span>-->
<!--                        <b><i>$<span th:text="${item.price}">PRICE</span></i></b><br/>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="item-group" id="cloth">-->
<!--                    <h3>Choose your cloth item</h3>-->
<!--                    <div th:each="item : ${clothing}">-->
<!--                        <input th:field="*{items}" th:value="${item.id}"-->
<!--                               type="checkbox"/>-->
<!--                        <input type="number" th:name="${'QUANTITY-' + item.id}" th:value="${item.quantity}" min="0">-->
<!--                        <span th:text="${item.name}">ITEM</span>-->
<!--                        <b><i>$<span th:text="${item.price}">PRICE</span></i></b><br/>-->
<!--                    </div>-->
<!--                </div>-->


<!--                <div class="item-group" id="toys">-->
<!--                    <h3>Choose your toys!</h3>-->
<!--                    <div th:each="item : ${toys}">-->
<!--                        <input th:field="*{items}" th:value="${item.id}"-->
<!--                               type="checkbox"/>-->
<!--                        <input type="number" th:name="${'QUANTITY-' + item.id}" th:value="${item.quantity}" min="0">-->
<!--                        <span th:text="${item.name}">ITEM</span>-->
<!--                        <b><i>$<span th:text="${item.price}">PRICE</span></i></b><br/>-->
<!--                    </div>-->
<!--                </div>-->


<!--                <div class="item-group" id="book">-->
<!--                    <h3>Choose your books!</h3>-->
<!--                    <div th:each="item : ${books}">-->
<!--                        <input th:field="*{items}" th:value="${item.id}"-->
<!--                               type="checkbox"/>-->
<!--                        <input type="number" th:name="${'QUANTITY-' + item.id}" th:value="${item.quantity}" min="0">-->
<!--                        <span th:text="${item.name}">ITEM</span>-->
<!--                        <b><i>$<span th:text="${item.price}">PRICE</span></i></b><br/>-->
<!--                    </div>-->
<!--                </div>-->


<!--                <div class="item-group" id="sports">-->
<!--                    <h3>Choose your sports items!</h3>-->
<!--                    <div th:each="item : ${sports}">-->
<!--                        <input th:field="*{items}" th:value="${item.id}"-->
<!--                               type="checkbox"/>-->
<!--                        <input type="number" th:name="${'QUANTITY-' + item.id}" th:value="${item.quantity}" min="0">-->
<!--                        <span th:text="${item.name}">ITEM</span>-->
<!--                        <b><i>$<span th:text="${item.price}">PRICE</span></i></b><br/>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->




<!--            <div>-->
<!--                <h3>Name your shopping cart!</h3>-->
<!--                <input th:field="*{name}" type="text"/>-->
<!--                <span class="validationError"-->
<!--                      th:errors="*{name}"-->
<!--                      th:if="${#fields.hasErrors('name')}">Name Error</span>-->
<!--                <br/>-->
<!--                <button>Proceed to Checkout!</button>-->
<!--            </div>-->



<!--        </form>-->
<!--    </body>-->
<!--</html>-->