<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--    <head>-->
<!--        <title>Cart Shopping</title>-->
<!--    </head>-->

<!--    <body>-->
<!--        <h1>Welcome to Cart Shopping...</h1>-->
<!--        <img th:src="@{/images/CartShopping.PNG}"/>-->
<!--        <form method="POST" th:action="@{/logout}" id="logoutForm">-->
<!--            <input type="submit" value="Logout"/>-->
<!--        </form>-->
<!--        <a th:href="@{/design}" id="design">Create your shopping cart</a>-->
<!--    </body>-->

<!--</html>-->